<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input label="Course name: " type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Trimester: " placeholder="Select trimester">
        <ion-select-option>Trimester 1, 2024</ion-select-option>
        <ion-select-option>Trimester 2, 2024</ion-select-option>
        <ion-select-option>Trimester 3, 2024</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Location: " type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="Description: " labelPlacement="floating" rows="3"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="schedule-edit">
    <h3>Schedule</h3>
    <h5>Lecture</h5>
    <ion-item>
      <ion-input label="Time: " type="text"></ion-input>
    </ion-item>
    <ion-item class="date-time">
      <ion-input type="date"></ion-input>
      <ion-select value="weekly">
        <ion-select-option value="weekly">Weekly</ion-select-option>
        <ion-select-option value="day">Day</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Mode: " value="on-campus">
        <ion-select-option value="on-campus">On-campus</ion-select-option>
        <ion-select-option value="onliine">Online</ion-select-option>
      </ion-select>
    </ion-item>
    <h5>Workshop</h5>
    <ion-item>
      <ion-input label="Time: " type="text"></ion-input>
    </ion-item>
    <ion-item class="date-time">
      <ion-input type="date"></ion-input>
      <ion-select value="weekly">
        <ion-select-option value="weekly">Weekly</ion-select-option>
        <ion-select-option value="day">Day</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Mode: " value="on-campus">
        <ion-select-option value="on-campus">On-campus</ion-select-option>
        <ion-select-option value="onliine">Online</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-button class="doneButton" expand="full" (click)="closemodal()">Done</ion-button>
</ion-content>