<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Course</ion-title>
    <button class="clear" slot="end" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input label="Course name: " type="text" [(ngModel)]="course.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Trimester: " interface="popover" placeholder="Select trimester" [(ngModel)]="course.trimester">
        <ion-select-option>Trimester 1, 2024</ion-select-option>
        <ion-select-option>Trimester 2, 2024</ion-select-option>
        <ion-select-option>Trimester 3, 2024</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Location: " type="text" [(ngModel)]="course.location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="Description: " labelPlacement="floating" rows="3"
        [(ngModel)]="course.description"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="schedule-edit">
    <div class="heading">
      <h3>Schedule</h3>
      <button class="clear" slot="end" (click)="addSchedule()">
        <ion-icon name="add-outline"></ion-icon>
      </button>
    </div>
    <div *ngFor="let schedule of course.schedules; index as i">

      <ion-item>
        <ion-select interface="action-sheet" [interfaceOptions]="actionSheetOptions" placeholder="Select type"
          [(ngModel)]="course.schedules[i].type">
          <ion-select-option *ngFor="let type of scheduleTypes">{{type}}</ion-select-option>
        </ion-select>
        <button class="clear" id="trash-icon" slot="end" (click)="removeSchedule(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </button>
      </ion-item>

      <ion-item class="date-time">
        <ion-label>Date</ion-label>
        <ion-datetime-button [datetime]="'datetime'+ i"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime [id]="'datetime' + i" [(ngModel)]="course.schedules[i].datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
        <ion-select placeholder="Weekly" interface="popover" [(ngModel)]="course.schedules[i].frequency">
          <ion-select-option>Weekly</ion-select-option>
          <ion-select-option>Day</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select placeholder="Mode" interface="popover" label="Mode: " [(ngModel)]="course.schedules[i].mode">
          <ion-select-option>On-campus</ion-select-option>
          <ion-select-option>Online</ion-select-option>
        </ion-select>
      </ion-item>

    </div>
  </div>
  <ion-button class="doneButton" expand="full" (click)="addCourse()">Done</ion-button>
</ion-content>