<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add an assignment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Label" type="text" [(ngModel)]="assignment.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Weight" type="number" [(ngModel)]="assignment.weight"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Due date</ion-label>
    <ion-input type="date" [(ngModel)]="assignment.due_date"></ion-input>
  </ion-item>
  <ion-button class="doneButton" expand="full" (click)="closemodal()">Done</ion-button>
</ion-content>
