<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar id="menu-container">
      <img src="{{imageFile}}" alt="Avatar">
      <h5>{{username}}</h5>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list id="menu-list">
      <ion-item (click)="directPage('/tabs/tab1')">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-item>
      <ion-item (click)="directPage('/tabs/tab2')">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>Course</ion-label>
      </ion-item>
      <ion-item (click)="directPage('/tabs/tab3')">
        <ion-icon name="search-outline" slot="start"></ion-icon>
        <ion-label>Check Score</ion-label>
      </ion-item>
    </ion-list>
    <div class="file-input">
      <label for="file">Change avatar image</label>
      <input #fileInput id="file" class="file" type="file" accept="image/*"
        (change)="imageSelected(fileInput.files)" multiple>
    </div>
  </ion-content>
</ion-menu>