<div class="ion-page" id="main-content">
  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title size="large">Course</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list>
      <ion-item-sliding *ngFor="let course of courses; index as i">
        <ion-item routerLink="/course-detail">
          {{ course.name }}
        </ion-item>

        <ion-item-options>
          <ion-item-option>Edit</ion-item-option>
          <ion-item-option color="danger" (click)="deleteCourse(i)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </ion-content>
</div>