<div class="ion-page" id="main-content">
  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title size="large">Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="display-date">
      <p>Today - {{ todayDate }}</p>
    </div>

    <div *ngIf="todayClasses" class="course-notification">
      <div *ngFor="let class of todayClasses; index as i" class="item">
        <ion-label> {{ todayClassNames[i] }}</ion-label>
        <div id="course-detail">
          <div><ion-icon name="location-outline"></ion-icon> {{ todayClassLocations[i]}} </div>
          <p> {{class.type}} </p>
        </div>
        <ion-icon name="time-outline"></ion-icon> {{getTimeRange(class.datetime)}}
      </div>
    </div>
    <p class="noClass" *ngIf="todayClasses.length === 0">There is no class today.</p>

    <div class="display-date">
      <p>Tommorrow - {{ tomorrowDate}}</p>
    </div>

    <div *ngIf="tomorrowClasses" class="course-notification">
      <div *ngFor="let class of tomorrowClasses; index as i" class="item">
        <ion-label> {{ tomorrowClassNames[i] }}</ion-label>
        <div id="course-detail">
          <div><ion-icon name="location-outline"></ion-icon> {{ tomorrowClassLocations[i]}} </div>
          <p> {{class.type}} </p>
        </div>
        <ion-icon name="time-outline"></ion-icon> {{getTimeRange(class.datetime)}}
      </div>
      <p class="noClass" *ngIf="tomorrowClasses.length === 0">There is no class today.</p>
    </div>
  </ion-content>
</div>