<div class="ion-page" id="main-content">
  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title size="large">Check Score</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="course-selection">
      <ion-select [(ngModel)]="selectedCourse" (ionChange)="courseChange()" label="Course: "
        placeholder="Select a course">
        <ion-select-option *ngFor="let course of courses">{{course.name}}</ion-select-option>
      </ion-select>
    </div>

    <div *ngIf="selectedCourse">
      <div class="score-filling">
        <div *ngFor="let assessment of selectedCourse.assessments; index as i" class="item">
          <ion-label> {{assessment.label}} </ion-label>
          <ion-input type="text" [(ngModel)]="userInput[i]" placeholder="e.g. 4/5"></ion-input>
        </div>
        <ion-button (click)="checkScore()">Check</ion-button>
      </div>
    </div>

    <canvas #graph height="200"></canvas>
    <div *ngIf="result" class="result">
      <h3>Result</h3>
      <h6>You get <span>{{result}}% ({{grade}})</span> for this course.</h6>
      <h6 *ngIf="result >= 75" id="congrats-text">Congratulations!</h6>
    </div>

  </ion-content>
</div>