// ------- CSS for heading part --------
h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

h2 {
    text-align: center;
    color: rgb(7, 56, 162);
    margin-top: 30px;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#error {
    color: red;
    margin-left: 15px;
}